<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Show Page</h1>
  <p>{{.Name}}</p>
  <p><a href="{{.URL}}" target="blank">link</a></p>
  <p><pre>{{.CodeBlock}}</pre></p>
  <p>{{.Notes}}</p>
  <p>Tags: 
  {{range $index, $tag := .Tags}}
    <button>{{$tag.Name}}</button>
  {{end}}
  </p>  
  <button><a href="/editEntry/{{.ID}}">Edit Entry</a></button>
  <button><a href="/">Back to Main Page</a></button>
  <button><a href="/deleteEntry/{{.ID}}">Delete Entry</a></button>
</body>
</html>